{% extends "base.html" %}

{% block content %}
<main class="container py-5 ">
  <section class="card card-body">
    <h1 display="display1 text-center">DJANGO CRUD</h1>
    <p>
      Welcome to our Django CRUD App!
      
      Unlock the power of efficient task management with our intuitive Django CRUD app. Seamlessly designed with both simplicity and functionality in mind, our app empowers you to effortlessly create, edit, and delete tasks with just a few clicks.
      
      With protected routes ensuring the security of your data, you can trust that your tasks are safe and accessible only to authorized users. Whether you're organizing your personal to-do list or coordinating team projects, our app provides the robust features you need for effective task management.
      
      Harness the skills of our talented programmer showcased through this app, demonstrating their expertise in Django development. Experience the seamless flow of creating, editing, and deleting tasks, all within a user-friendly interface that streamlines your productivity.
      
      Take control of your tasks today with our Django CRUD app and witness firsthand the capabilities of our skilled developers. Start managing your tasks effortlessly and efficiently – sign up now!</p>

    <div class="text-center">
      <a class="btn btn-primary btn-dark" href="/login/"> Login</a>
      <a class="btn btn-primary btn-secondary" href="/signup/"> Sign Up</a>
    </div>

  </section>
</main>
{% endblock %}